CONFIG_AUTOSTART_ARDUINO=y
CONFIG_ARDUINO_USB_CDC_ON_BOOT=n
CONFIG_FREERTOS_HZ=1000
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y

# Needed for usb VCP components
CONFIG_COMPILER_CXX_EXCEPTIONS=y
