CONFIG_AUTOSTART_ARDUINO=y
CONFIG_ARDUINO_USB_CDC_ON_BOOT=n
CONFIG_FREERTOS_HZ=1000
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y

# Needed for usb VCP components
CONFIG_COMPILER_CXX_EXCEPTIONS=y

# Prevent logs from colliding with USB Host serial traffic
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART_NUM=1
CONFIG_ESP_CONSOLE_UART_TX_GPIO=16
CONFIG_ESP_CONSOLE_UART_RX_GPIO=18

# Show more debugging details
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_VERBOSE=y
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL=5
CONFIG_ARDUHAL_LOG_COLORS=y
CONFIG_ARDUHAL_ESP_LOG=y

